.label-input-container, .preferred-lang-p, .form-header {
  font-size: 20px;
  color: #2b2d42;
  display: block;
}

.state-name-select {
  font-size: 1.1rem;
}

em {
  color: #fd3535;
}

.input {
  display: block;
  width: 177px;
}

.submit-button {
  background-color: #e31c3d;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  width: 150px;
  color: white;
  border: 0px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: #2E538E;
}

.form-header {
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
  background-color: #2E538E;
  color: white;
  text-align: center;
  height: 52px;
  padding: 8px 0px 12px 12px;
}

.form-container {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 1px 6px 5px rgb(0 0 0 / 0.2);
  height: 500px;
  margin: 10px auto;
  max-width: 700px;
}

.missing-input-message, .success-message {
  color: #fd3535;
  font-size: 20px;
  margin-top: 5px;
}

.label {
  line-height: 32px;
}

.label-radio, .agree-to-emails-checkbox {
  margin: 5px;
}

.email-label, .preferred-lang-p, .agree-to-emails-checkbox, .submit-button-container {
  margin-top: 5px;
}

.form-content-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.state-name-select:hover, .submit-button:hover, .input-radio:hover, .input-checkbox:hover {
  cursor: pointer;
}
