.label-input-container, .preferred-lang-p, .form-header {
  font-size: 20px;
  color: #2b2d42;
  display: block;
}

.state-name-select {
  font-size: 1.1rem;
}

em {
  color: #fd3535;
}

.input {
  display: block;
}

.submit-button {
  background-color: #fd3535;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  width: 150px;
}

.form-header {
  font-family: 'DM Serif Display', serif;
  font-size: 28px;
}

.form-container {
  border: 1px solid black;
}
