.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-image {
  margin-top: 50px;
  height: 10rem;
  width: 10rem;
}

.error-text {
  font-size: 20px;
  color: #FD3535;
  line-height: 1.5em;
}

.home-button {
  background-color: #e31c3d;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  width: 150px;
  color: white;
  border: 0px;
}

.home-button:hover {
  background-color: #2E538E;
}
