.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-image {
  margin-top: 5rem;
  height: 20rem;
  width: 20rem;
}

.error-text {
  margin-top: 2rem;
  font-size: 2rem;
  color: #FD3535;
}

.home-button {
  background-color: #e31c3d;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  width: 150px;
  color: white;
  border: 0px;
  padding: 2rem;
}

.home-button:hover {
  background-color: #2E538E;
}
