.route-card-article {
  background-color: white;
  box-shadow: 3px 3px 8px 0px rgb(0 0 0 / 20%);
  border-radius: 8px;
  height: 150px;
  width: 60%;
  font-size: 20px;
  overflow: hidden;
  line-height: 30px;
}

.link-item {
  text-decoration: none;
  color: #2b2d42;
}

.link-item:hover {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.route-card-header {
  font-family: 'DM Serif Display', serif;
  padding: 12px 0px 12px 12px;
  background-color: #2E538E;
  color: white;
  font-size: 28px;
  font-weight: 200;
}

@media (max-width: 450px) {
  .route-card-header {
    font-size: 22px;
  }

  .route-card-article {
    line-height: 1.5rem;
  }

  .link-item {
    font-size: 16px;
  }
}