.all-devs-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-container {
  width: 70%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 1px 9px rgba(43,45,66,0.5);
  margin-top: 5rem;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dev-bio-container {
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% minmax() 20%;
}

.dev-header {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.dev-name {
  font-size: 3rem;
  font-weight: 800;
  color: rgba(43,45,66,0.9);
}

.dev-title {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: rgb(46,83,142);
}

.dev-story {
  margin: 0;
  padding: 0.2rem 0 1.5rem 0;
  grid-column: 1 / span 2;
  grid-row: 2;
  font-size: 1.6rem;
  font-weight: 200;
  color: rgb(43,45,66);
}

.dev-links-container {
  grid-column: 1 / span 3;
  grid-row: 3;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.dev-linkedin, .dev-github {
  height: 5rem;
  filter: drop-shadow(2px 1px 4px rgba(46,83,142,1));
}

.dev-photo-container {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.dev-photo {
  width: 18rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(43,45,66,1);
}

@media screen and (max-width: 1650px) {
  .dev-container {
    width: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .dev-container {
    width: 85%;
  }

  .dev-bio-container {
    width: 65%;
  }
}

@media screen and (max-width: 1300px) {
  .dev-container {
    width: 85%;
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 60%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 16rem;
  }
}

@media screen and (max-width: 1150px) {
  .dev-container {
    width: 85%;
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 70%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 14rem;
  }
}

@media screen and (max-width: 1050px) {
  .our-story-container {
    padding-top: 3rem;
  }

  .dev-container {
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
    width: 90%;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 70%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 14rem;
  }
}

@media screen and (max-width: 700px) {
  .dev-container {
    display: flex;
    flex-direction: column;
  }

  .dev-bio-container {
    width: 85%;
  }

  .dev-links-container {
    width: 100%;
    justify-content: center;
  }

  .dev-linkedin, .dev-github {
    margin: 0 1rem 0 1rem;
    height: 5rem;
  }
}
