/*
  COLOR PALETTE:
    Blue: #2e538e rgb(46,83,142)
    Black: #2b2d42 rgb(43,45,66)
    Red: #e31c3d rgb(227,28,61)
*/

/* * {
  border: 1px solid black;
} */

.our-story-container {
  width: 100%;
  padding: 2rem 0 5rem 0;
  background-color: rgb(227,28,61);
}

.app-story-container {
  width: 100%;
  margin-top: 5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-story-container > h1 {
  color: rgb(43,45,66);
  text-align: center;
  font-size: 2.3rem;
  margin-top: 3rem;
}

.app-story-text {
  width: 80%;
  margin: 1rem 1rem 5rem 1rem;
  font-weight: 400;
  font-size: 2rem;
  color: rgb(43,45,66);
}

.all-devs-container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dev-container {
  width: 70%;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 1px 9px rgba(43,45,66,0.8);
  margin-top: 5rem;
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dev-bio-container {
  width: 70%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% minmax() 20%;
}

.dev-header {
  grid-column: 1 / span 2;
  grid-row: 1;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.dev-name {
  font-size: 3rem;
  font-weight: 800;
  color: rgba(43,45,66,0.9);
}

.dev-title {
  padding-left: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
  color: rgb(227,28,61);
}

.dev-story {
  margin: 0;
  padding: 0.2rem 0 1.5rem 0;
  grid-column: 1 / span 2;
  grid-row: 2;
  font-size: 1.6rem;
  font-weight: 200;
  color: rgb(43,45,66);
}

.dev-links {
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  padding: 0;
  filter: drop-shadow(3px 3px 5px rgba(227,28,61,0.8));
}

.dev-linkedin, .dev-github {
  height: 5rem;
}

.dev-photo-container {
  width: 30%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.dev-photo {
  width: 18rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(43,45,66,1);
}

@media screen and (max-width: 1650px) {
  .dev-container {
    width: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .dev-container {
    width: 85%;
  }

  .dev-bio-container {
    width: 65%;
  }
}

@media screen and (max-width: 1300px) {
  .dev-container {
    width: 85%;
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 60%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 16rem;
  }
}

@media screen and (max-width: 1150px) {
  .dev-container {
    width: 85%;
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 70%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 14rem;
  }
}

@media screen and (max-width: 1050px) {
  .our-story-container {
    padding-top: 3rem;
  }

  h1 {
    font-size: 2rem;
  }

  .app-story-container {
    margin: 0;
    padding: 0;
  }

  .app-story-text {
    font-size: 1.3rem;
    margin: 2rem 0 4rem 0;
  }

  .dev-container {
    margin: 3rem 2rem 2rem 2rem;
    padding: 1rem;
    width: 90%;
  }

  .dev-header {
    flex-direction: column;
  }

  .dev-bio-container {
    margin: 1rem;
    padding: 0;
    width: 70%;
  }

  .dev-name {
    font-size: 2rem;
  }

  .dev-title {
    font-size: 1.2rem;
    padding: 0;
  }

  .dev-story {
    padding: 0.8rem 0 1rem 0;
    font-size: 1.3rem;
  }

  .dev-linkedin, .dev-github {
    margin: 0.5rem 0.5rem 0.5rem 0;
    height: 3.3rem;
  }

  .dev-photo-container {
    margin: 1rem;
    padding: 0;
    width: 30%;
  }

  .dev-photo {
    width: 14rem;
  }
}

@media screen and (max-width: 500px) {
  .app-story-container > h1 {
    padding: 0 5rem 1rem 5rem;
    font-size: 2rem;
  }

  .dev-container {
    display: flex;
    flex-direction: column;
  }

  .dev-bio-container {
    width: 85%;
  }

  .dev-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .dev-linkedin, .dev-github {
    margin: 0 1rem 0 1rem;
    height: 5rem;
  }
}
