.header-container {
  display: grid;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 9px rgb(0 0 0 / 50%);
}

.vote-image {
  width: 80px;
  height: 80px;
}

.vote-image:hover {
  cursor: pointer;
} 

.app-name {
  font-size: 40px;
  margin-left: 8px;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-weight: 200;
  color: #2b2d42;
  text-decoration: none;
} 

.img-app-name-container {
  display: flex;
  align-items: center;
}

.header-button {
  background-color: #e31c3d;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  width: 150px;
  color: white;
  border: 0px;
  text-align: center;
}

.header-button:hover {
  background-color: #2E538E;
}

.our-story-language-button-container {
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column-start: 4;
}

.our-story-button {
  margin-right: 1rem;
} 

@media (max-width: 780px) {  
  .header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  
  .img-app-name-container {
    display: flex;
    align-items: center;
    justify-content: center;
  } 

  .our-story-language-button-container {
    grid-row-start: 2;
    grid-column-start: 1;
    justify-content: center;
  } 
} 
