.vote-image {
  width: 80px;
  height: 80px;
}

.app-name {
  font-size: 40px;
  margin-left: 8px;
  font-family: 'DM Serif Display', serif;
  color: #2b2d42;
}

.app-name:hover {
  cursor: pointer;
}

.header-container {
  display: grid;
  grid-template-columns: 85px auto 150px 150px;
  align-items: center;
  grid-gap: 20px;
  padding: 20px;
  box-shadow: 0 1px 9px rgb(0 0 0 / 20%);
}

.header-button {
  background-color: #e31c3d;
  font-size: 20px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  border: 0px;
}

.header-button:hover {
  cursor: pointer;
  background-color: #2E538E;
}