.home-page-routing-component-container {
  background-color: #1990ff;
}

.home-page-route-cards-container {
  display: grid;
  grid-gap: 1rem;
  padding: 20px;
  justify-items: center;
  width: 100%;
}

.i-want-to-header {
  color: #2b2d42;
  font-family: 'DM Serif Display', serif;
  font-size: 32px;
  font-weight: 200;
  margin: auto;
  padding: 20px 20px 10px;
  width: 790px;
}

@media (max-width: 790px) {
  .i-want-to-header {
    width: 100%;
  }
}