/*
  COLOR PALETTE:
    Blue: #2e538e rgb(46,83,142)
    Black: #2b2d42 rgb(43,45,66)
    Red: #e31c3d rgb(227,28,61)
*/

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 15px;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}
